* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #292e32;
    padding: 10px;
    margin: 0;
    color: white;
}

.race-table {
    border-radius: 4px;
    background-color: #40474f;
    width: 33vw;
    table-layout: fixed;
    font-size: 0.8rem;
}

.race-table thead,
.race-table tbody tr {
    table-layout: fixed;
}

.race-table tbody {
    max-height: 30em;
    overflow-y: auto;
}

.race-table th, 
.race-table td {
    padding: 8px;
    text-align: center;
    border: none; 
}

.race-table th {
    border-bottom: 1px solid;
    position: sticky;
}

.race-table details {
    display: block;
    padding: 8px;
    border: 1px solid #5b6167;
    border-radius: 4px;
    border-left: 4px solid #28af98;
    transition: background-color 0.15s ease;
    cursor: pointer;
}

.race-table tr:nth-of-type(1) details {
    border-left: 4px solid #d4af37;
}

.race-table tr:nth-of-type(2) details {
    border-left: 4px solid #a5a5a5;
}

.race-table tr:nth-of-type(3) details {
    border-left: 4px solid #cd7f32;
}

/* only do hover effect when theres *actually* a mouse hovering and not a screen tap */
@media (hover: hover) {
    .race-table details:hover {
        background-color: #535C65;
    }
}

.race-table details summary {
    font-weight: bold;
    list-style: none;
    display: flex;
}

.inner-participant-table {
    width: 100%;
    table-layout: fixed;
}

.inner-checkpoint-table {
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid;
    border-bottom: 1px solid;
}