.new-race-step {
  display: none;
}

.new-race-step button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background-color: #1abc9c;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.new-race-step.active {
  display: block;
}

.user-feedback-message {
  color: red;
}
