* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
    color: #1b1b1b;
}

#race-history {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.live-indicator {
    color: white;
    background-color: red;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    line-height: normal;
}

#race-history-table-container {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
}

#race-history-table {
    width: 100%;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

#race-history-table th, #race-history-table td {
    padding: 8px;
    text-align: center;
}

#race-history-table tbody tr:nth-child(odd) {
    background-color: rgb(236, 236, 236);
}

#race-history-table tbody tr:hover {
    cursor: pointer;
}
