button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.race-details-step {
    display: none;
}

.race-details-step.active {
    display: block;
}

.requirement-message {
    color: red;
}